$white: #FFFFFF;
$whiteA02: rgba(255, 255, 255, 0.2);
$whiteA03: rgba(255, 255, 255, 0.3);
$whiteA05: rgba(255, 255, 255, 0.5);
$whiteA07: rgba(255, 255, 255, 0.7);

$black: #000000;
$blackA02: rgba(0, 0, 0, 0.2);
$blackA04: rgba(0, 0, 0, 0.4);
$blackA05: rgba(0, 0, 0, 0.5);
$blackA08: rgba(0, 0, 0, 0.8);

$blue: #3071c2;
$red: #ff6162;
$grey: #4a4a4a;

$background-dark: #273038;
$background-light: #e6e7f2;

$grad-white-gray: linear-gradient(180deg, #e6e7f2, #4a4a4a);
