@import 'variables';

@mixin media-property($direction,
                      $property,
                      $value-xs,
                      $value-sm: null,
                      $value-md: null,
                      $value-lg: null,
                      $value-xl: null) {
    @if ($direction == V) {
        $direction: min-height
    }
    @else if($direction == H) {
        $direction: min-width;
    }
    @media screen and (#{$direction}: $xs + 1px) {
        #{$property}: $value-xs;
    }
    @if ($value-sm != null) {
        @media screen and (#{$direction}: $sm + 1px) {
            #{$property}: $value-sm;
        }
    }
    @if ($value-md != null) {
        @media screen and (#{$direction}: $md + 1px) {
            #{$property}: $value-md;
        }
    }
    @if ($value-lg != null) {
        @media screen and (#{$direction}: $lg + 1px) {
            #{$property}: $value-lg;
        }
    }
    @if ($value-xl != null) {
        @media screen and (#{$direction}: $xl + 1px) {
            #{$property}: $value-xl;
        }
    }
}
