<div class="chat-wrapper">
<!--    <ng-container *ngIf="rooms.length">-->
        <mat-drawer-container autosize class="sidenav-wrapper">
<!--            <mat-drawer class="sidenav-content"-->
<!--                        [(opened)]="opened"-->
<!--                        [mode]="chatService.device['isDesktop'] ? 'side' : 'over'">-->
<!--                <app-chat-settings-panel [rooms]="rooms | updateRooms"-->
<!--                               [unread]="unreadInRooms"-->
<!--                               (onSelectedRoom)="toggleRoom($event)"-->
<!--                               (onCreateRoom)="createRoom()"-->
<!--                               (closeList)="openSideNav()">-->
<!--                </app-chat-settings-panel>-->
<!--            </mat-drawer>-->
            <app-room [currentRoom]="currentRoom"
                      [newMessage]="newMessage"
                      [unreadInRooms]="overallUnreadMessages"
                      (leaveFromChat)="leaveRoom($event)"
                      (unreadMessages)="changeUnreadByRoomId($event)"
                      (openList)="openSideNav()">
            </app-room>
        </mat-drawer-container>
<!--    </ng-container>-->
</div>
