@import "colors.scss";
@import "scrollbar.scss";
@import "themes/dark-theme.scss";
@import "themes/light-theme.scss";

.tip {
    background-color: $white;
    z-index: 2;
    overflow-y: hidden;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid;
    padding: 10px;

    .scrollbar {
        margin: 0;
        padding: 0;
        width: 100%;
        max-height: 100px;
        overflow-y: auto;

        .tip-item-wrapper {
            display: flex;
            flex-direction: column;

            .info {
                display: flex;
                align-items: flex-end;
                column-gap: 20px;
                cursor: pointer;

                img {
                    height: 2rem;
                    width: 2rem;
                    border-radius: 50%;
                }

                p {
                    margin: 0;
                }
            }
        }
    }
}

:host-context(.light) {
    .tip {
        border-bottom-color: $blue;
        border-left-color: $blue;
        border-right-color: $blue;
    }
}

:host-context(.dark) {
    .tip {
        border-bottom-color: $light-orange;
        border-left-color: $light-orange;
        border-right-color: $light-orange;
    }
}
