@import "scrollbar.scss";
@import "mixins.scss";
@import "colors.scss";

.form-item-wrapper {
    display: flex;
    align-items: center;
    height: 3rem;
    margin-bottom: 20px;
    flex-shrink: 0;

    .control-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: end;
        position: relative;
        width: 100%;
        flex-shrink: 1;

        label {
            position: absolute;
            transition: 0.3s ease-out;
            font-size: 1rem;
            bottom: 0;
            cursor: text;
        }

        input[type=text]:focus+label,
        input[type=text]:not(:placeholder-shown)+label {
            bottom: 2rem;
            font-size: 0.9rem;
            cursor: default;
        }

        input[type=text] {
            border: none;
            font-size: 1rem;
            outline: none;
            background: transparent;
            border-bottom: 2px solid;
            height: 1.5rem;
            z-index: 1;

            &::placeholder {
                color: transparent;
                user-select: none;
            }
        }
    }

    .delete-item {
        flex-shrink: 0;
        margin-left: 20px;
        font-size: 25px;
        cursor: pointer;

        &:active {
            font-size: 22px;
        }
    }

    .invalid:not(:focus-within) {

        label {
            color: $red;
        }

        input[type=text] {
            @include gradient-expansion(invalid_border, BI, to right, $black, $red, $black);
            animation: invalid_border 0.3s ease-out 1 both;
        }
    }

    .valid {

        label {
            color: $green;
        }

        input[type=text] {
            @include gradient-expansion(valid_border, BI, to right, $black, $green, $black);
            animation: valid_border 0.3s ease-out 1 both;
        }
    }
}
