<div class="settings-wrapper">
    <div class="panel-hat">
        <p>Main menu</p>
        <mat-icon class="close-panel" (click)="closeList.emit()">
            vertical_split
        </mat-icon>
    </div>
    <div class="scrollbar">
        <div class="settings">
            <div class="theme-chooser">
                <mat-icon class="theme-icon">wb_sunny</mat-icon>
                <mat-slide-toggle
                    [checked]="isCheckedTheme"
                    (change)="toggleTheme()"
                >
                </mat-slide-toggle>
                <mat-icon class="theme-icon">brightness_3</mat-icon>
            </div>
            <div class="add-btn" (click)="createRoom()">
                <mat-icon>add</mat-icon>
                <span>Create new room</span>
            </div>
            <input placeholder="Search room..."
                   [(ngModel)]="textForSearching"
                   *ngIf="!isGlobally">
            <input placeholder="Search room..."
                   [(ngModel)]="textForSearching"
                   (input)="searchRooms()"
                   *ngIf="isGlobally">
            <mat-slide-toggle class="searchToggle"
                              (change)="toggleSearch()">
                {{isGlobally ? 'Globally' : 'Locally'}}
            </mat-slide-toggle>
        </div>
        <div class="rooms">
            <div *ngFor="let room of searchedRooms | searchRooms: textForSearching">
                <div class="room" (click)="onRoom(room)">
                    <div class="unread">
                        <span>{{unread.get(room._id) > 0 ? unread.get(room._id) : "0"}}</span>
                    </div>
                    <div class="room-info">
                            <span [ngClass]="{'form-item-wrapper': true,
                                              'current-room': room._id === currentRoom._id}">
                                {{room.title}}
                            </span>
                        <small *ngIf="room._id !== 'common'">
                            Last action: {{room.lastAction | date: 'HH:mm:ss - dd.MM.yy'}}
                        </small>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
