@import "colors.scss";
@import "variables.scss";
@import "mixins.scss";
@import "themes/light-theme.scss";
@import "themes/dark-theme.scss";
@import "scrollbar";
@import "classes/buttons.scss";
@import "classes/form-item-wrapper.scss";

.add-room-wrapper {
    @include media-property(V, height, 100%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .content {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        overflow-y: hidden;

        .close {
            display: flex;
            justify-content: flex-end;
            margin: 10px 20px;
            width: calc(100% - 40px);
            height: 25px;

            mat-icon {
                font-size: 25px;
                cursor: pointer;

                &:active {
                    font-size: 22px;
                }
            }
        }

        h1 {
            @include media-property(H, font-size, 30px, 35px);
            font-family: "Montserrat Alternates", sans-serif;
            text-align: center;
            font-weight: 400;
            margin: 0;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        overflow-y: hidden;

        .room-type {
            @include media-property(H, margin-left, 20px, 30px);
            margin-bottom: 20px;
            margin-top: 20px;
        }

        .form-item-wrapper {
            @include media-property(H, margin-left, 20px, 30px);
            @include media-property(H, margin-right, 20px, 30px);
            padding: 0;
        }

        .add-btn {
            @include media-property(H, width, calc(80% - 40px), calc(80% - 60px));
            margin-left: auto;
            margin-right: auto;
        }


        .scrollbar {
            margin-right: 10px;
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            .form-item-wrapper {
                @include media-property(H, margin-left, 20px, 30px);
                @include media-property(H, padding-right, 10px, 20px);
                margin-right: 0;
            }
        }
    }

    .create-room {
        height: 70px;
        flex-shrink: 0;
    }
}

:host-context(.light) {
    .form-item-wrapper {
        input[type=text] {
            border-color: $blackA02;
            color: $black
        }
    }
    .add-btn {
        color: $black;
    }

    .create-room {
        box-shadow: 0 -2px 15px 0 $blackA04;
    }
}

:host-context(.dark) {
    .form-item-wrapper {
        input[type=text] {
            border-color: $whiteA03;
            color: $whiteA08;
        }
    }
    .add-btn {
        color: $white;
    }

    .create-room {
        box-shadow: 0 -2px 15px 0 $whiteA03;
    }
}

.drop-tip {
    width: 100%;
}
