<div class="add-room-wrapper">
    <div class="close">
        <mat-icon (click)="onNoClick()">clear</mat-icon>
    </div>

    <div class="scrollbar">
        <h1>Create new room</h1>
        <div class="room-type">
            <mat-slide-toggle (change)="switchPrivate()">
                {{!isPublic ? 'Private' : 'Public'}}
            </mat-slide-toggle>
        </div>

        <form class="form" [formGroup]="form" (ngSubmit)="onCreate()">
            <div class="form-item-wrapper">
                <div class="control-wrapper">
                    <input class="form-control"
                    type="text"
                    id="title"
                    formControlName="title"
                    placeholder="title">
                    <label for="title">Title *</label>
                </div>
            </div>
            <div class="add-btn" (click)="addParticipant()">
                <mat-icon>add</mat-icon>
                <span>New Participant</span>
            </div>
            <div class="participants-wrapper" formArrayName="participants">
                <div *ngFor="let item of participants.controls; let i = index"
                     class="form-item-wrapper"
                     [formGroupName]="i">
                    <div [ngClass]="{'control-wrapper' : true, 'valid' : selectedUsers.has(i), 'invalid' : (!selectedUsers.has(i) && focusedInput !== i)}">
                        <input class="form-control"
                        type="text"
                        id="participant{{i}}"
                        formControlName="name"
                        placeholder="name"
                        autocomplete="off"
                        (focus)="onFocusInput(i)"
                        (focusout)="onReseteFocusInput()">
                        <label for="participant{{i}}}">Participant - {{i + 1}} *</label>
                        <div *ngIf="focusedInput === i && searchedUsers.length" class="tip">
                            <div class="scrollbar">
                                <div *ngFor="let user of searchedUsers" class="tip-item-wrapper">
                                    <div class="info" (click)="selectUser(user)">
                                        <img [src]="user['avatar']" alt="avatar">
                                        <p>{{user.name}}</p>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                     </div>
                    <mat-icon class="delete-item" (click)="deleteParticipant(i)">delete</mat-icon>
                </div>
            </div>
            <div formArrayName="participants">
                <!-- <div *ngFor="let item of participants.controls; let pointIndex=index" [formGroupName]="pointIndex">
                    <mat-form-field class="part-input">
                        <label>
                            <input matInput [placeholder]="'Participant - ' + (pointIndex + 1)"
                                   formControlName="name"
                                   (keydown)="selectedInput$.next(pointIndex)"
                                   [matAutocomplete]="auto"
                            >
                        </label>
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let state of searchedUsers"
                                        [value]="state.name"
                                        (click)="selectUser(state)"
                            >
                                <img [src]="state['avatar']" alt="" height="23">
                                <span>{{state.name}}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-icon *ngIf="userIds[pointIndex]" class="done">done</mat-icon>
                    <button type="button" mat-button (click)="deleteParticipant(pointIndex)">
                        <i class="material-icons">
                            delete
                        </i>
                    </button>
                </div> -->
            </div>
        </form>
        <div mat-dialog-actions>
            <!--            <button mat-button (click)="onNoClick()" class="close-btn">-->
            <!--                <i class="material-icons">-->
            <!--                    clear-->
            <!--                </i>-->
            <!--            </button>-->
            <button mat-button (click)="onCreate()" class="create-btn" [disabled]="!form.valid
                || form.untouched
                || !validateInputs()
                || participants.length < 1
            ">Create room
            </button>
        </div>
    </div>
</div>
<!--</div>-->

