@import "classes/panel-hat.scss";
@import "mixins.scss";
@import "themes/dark-theme.scss";
@import "themes/light-theme.scss";

.chat-work-space-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;

    //.panel-hat {
    //    @include media-property(H, justify-content, space-between, space-between, flex-end);
    //
    //    .close-panel {
    //        @include media-property(H, display, block, block, none);
    //    }
    //}
}
