<app-header></app-header>
<div class="wrapper">
    <app-room-list class="side-menu"
                   [rooms]="rooms | updateRooms"
                   [unread]="unreadInRooms"
                   (onSelectedRoom)="toggleRoom($event)"
                   (onCreateRoom)="createRoom()"
                   (closeList)="openSideNav()">
    </app-room-list>
    <app-chat></app-chat>
    <div class="flip-card">
        <div class="flip-card-inner"
             [ngClass]="{'rotate' : isFlipped$ | async}">
            <app-contact-list class="flip-card-front"></app-contact-list>
            <app-smiles class="flip-card-back"></app-smiles>
        </div>
    </div>
</div>

<app-drop-panel #contactList
                class="drop-contact-list"
                [dropPanel]="contactList"
                [trigger]="contactListTrigger$ | async"
                (triggerEvent)="contactListTriggerHandler($event)">
    <app-contact-list [class]="theme"></app-contact-list>
</app-drop-panel>




