<div class="wrapper">
    <h1>Welcome to the Chatos-Lavandos</h1>
    <div class="description">
        <p>It's simple application which can help you with communication between yourself and your friends</p>
        <small>Have a nice chatting! :)</small>
    </div>
    <div class="login-wrapper">
        <a [href]="host + '/auth/google'" >
            <button class="google-login">Sign in with Google</button>
        </a>
        <a [href]="host + '/auth/github'">
            <button class="github-login">Sign in with Github</button>
        </a>
    </div>
</div>
