@import "mixins.scss";
@import "variables.scss";
@import "colors.scss";
@import "panel-hat.scss";

.contacts-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;

    .panel-hat {
        @include media-property(justify-content, space-between, space-between, flex-end);

        .close-panel {
            @include media-property(display, block, block, none);
        }
    }

    .contact-list {
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
        font-family: 'Muli', sans-serif;
        font-weight: 300;
        margin: 20px 10px;

        .contact {
            display: flex;
            align-items: center;
            column-gap: 10px;
            height: 2.5rem;
            cursor: pointer;
            overflow: hidden;
            text-overflow: ellipsis;

            mat-icon {
                width: auto;
                height: auto;
                font-size: 1rem;
            }

            .avatar {
                width: 2.5rem;
                min-width: 2.5rem;
                height: 2.5rem;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }

            .contact-info {
                display: flex;
                flex-direction: column;
            }
        }

        hr {
            width: 100%;
            height: 1px;
            border: none;
        }
    }
}

:host-context(.light) {
    .contacts-wrapper {
        transition: 0.3s;
        background-color: $background-light;
        border-left: 1px solid $blackA02;
        color: $black;

        .panel-hat {
            background: $blackA04;
            box-shadow: 0 5px 20px -10px $black;
        }

        .contact {
            mat-icon {
                color: $blue;
            }
        }

        hr {
            background: $blackA02;
        }
    }
}

:host-context(.dark) {
    .contacts-wrapper {
        transition: 0.3s;
        background-color: $background-dark;
        border-left: 1px solid $whiteA05;

        .panel-hat {
            background: $blackA05;
            box-shadow: 0 5px 20px -10px $whiteA05;
            color: $white;
        }

        .contact {
            color: $whiteA07;

            mat-icon {
                color: $red;
            }
        }

        hr {
            background: $whiteA03;
        }
    }
}
